<div class="container ">
    <div class="">
        <h2><span class="badge bg-light text-dark">注文情報確認</span></h2>
    </div>
    <div class="row my-3">
        <div class="col-7">
         <table class="table table-bordered mt-3">
          <thead class="thead-light">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </thead>
          <tbody>
            <% @order.customer.cart_items.each do |cart_item| %>
            <tr>
              <td><%= image_tag(cart_item.item.get_image(50,50)) %>　<%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td><%= cart_item.subtotal %></td>
            </tr>
            <% end %>
          </tbody>
         </table>
        </div>
        <div class="col-3">
            <table class="table table-bordered mt-3">

              <thead class="thead-light">
                <tr>
                  <th class="">送料</th>
                  <td>￥ <%= @order.shipping_fee %></td>
                </tr>
                <tr>
                  <th class="">合計金額</th>
                  <td>￥ <%= @order.calc_total_price(current_customer) %></td>
                </tr>
                 <tr>
                  <th class="">請求金額</th>
                  <td>￥ <%= @order.billing_amount %></td>
                </tr>

              </thead>
            </table>
        </div>
    </div>
    <div class="">
        <p class="font-weight-bold">支払い方法</p>　<%= @order.payment_method_i18n %><br>
        <br>
        <p class="font-weight-bold">お届け先</p>　<%= @order.full_address  %> <br>
    </div>
    <div class="d-flex justify-content-center mt-5">
          <%= form_with model:@order, url: orders_path ,　method: :post do |f| %>
              <%= f.hidden_field :customer_id, value: current_customer.id %>
              <%= f.hidden_field :payment_method, value: @order.payment_method %>
              <%= f.hidden_field :billing_amount, value: @order.billing_amount %>
              <%= f.hidden_field :shipping_fee, value: @order.shipping_fee %>
              <%= f.hidden_field :shipping_receiver_name, value: @order.shipping_receiver_name %>
              <%= f.hidden_field :shipping_post_code, value: @order.shipping_post_code %>
              <%= f.hidden_field :shipping_address, value: @order.shipping_address %>
              <%= f.hidden_field :order_status, value: 0 %>
              <%= f.submit "注文を確定する", class:"btn btn-success w-20", data:{ confirm: "注文を確定しますか？"}  %>
          <% end %>
    </div>
</div>