<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2b36afa5b7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_items_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">商品一覧</button>
                <% end %>
              </li>
              <li class="nav-item">
                 <%= link_to admin_customers_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">会員一覧</button>
                 <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_orders_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">注文履歴一覧</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_genres_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">ジャンル一覧</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  <button type="button" class="btn btn-outline-dark m-2">ログアウト</button>
                <% end %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item">
                <%= link_to customers_my_page_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">マイページ</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to items_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">商品一覧</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to cart_items_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">カート</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_customer_session_path, method: :delete do %>
                  <button type="button" class="btn btn-outline-dark m-2">ログアウト</button>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to items_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">商品一覧</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_customer_registration_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">新規登録</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_customer_session_path do %>
                  <button type="button" class="btn btn-outline-dark m-2">ログイン</button>
                <% end %>
              </li>
            <% end %>
            </ul>
          <% if admin_signed_in? %>
            <%= form_with url: admin_items_path, method: :get, class:"form-inline" do |f| %>
              <%= f.text_field :search, placeholder: "Search", class:"form-control mr-sm-2" %>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            <% end %>
          <% elsif customer_signed_in? %>
            <%= form_with url: items_path, method: :get, class:"form-inline" do |f| %>
              <%= f.text_field :search, placeholder: "Search", class:"form-control mr-sm-2" %>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            <% end %>
          <% end %>
        </div>
      </nav>
  </header>
    <%= yield %>
  </body>
</html>
